# Core Dependencies
react==19.0.0
react-dom==19.0.0
@vitejs/plugin-react==4.3.4
typescript==5.7.2

# UI Dependencies
bootstrap==5.3.4
@popperjs/core==2.11.8

# Development Dependencies
eslint==9.21.0
@types/react==19.0.10
@types/react-dom==19.0.4
sass==1.86.2

# Build Tools
vite==6.2.0 