.App {
  text-align: center;
  padding-top: 10em;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header .headerNavUL{
 

}
header .headerNavUL li{
    border-bottom-width: .1em;
      border-bottom-style: solid;
        border-bottom-color: rgba(11, 75, 149, 0); 
        transition-duration: .2;
        transition-timing-function: ease-in-out;
        font-weight: 400;
}
header .headerNavUL li:hover{
  border-bottom-color: rgba(11, 75, 149, 0.707); 
  cursor: pointer; 
         transition-duration: .2s;


  
}


.Link{
  text-decoration:none;
  color: rgb(0, 0, 0); 
  font-weight: 500;
  align-self: center;
  
}

.learnMore{
      border: solid rgba(29, 99, 227) .15em;
        padding-inline: 25;
        padding-block:10;
        background-color:rgba(13, 69, 172, 0);
        color:rgb(29, 99, 227);
        font-size: 1rem;
        font-weight: 500; 
        cursor:pointer;
        transition-duration: .25s;
        border-radius:4px;

}
.learnMore:hover{
  background-color: transparent;
  color:rgb(29, 99, 227);
 
}

.learnMore:active{
  font-size: 1.25em;
  background-color:rgb(29, 99, 227);
  color: white;

}

.learnMore:hover{
  color:white;
  background-color:rgb(29, 99, 227);

}
.filter{
  transition-duration: .25s;
}

.filter:active{
   opacity: 0;
}


.opacheBackground{
  background-color:rgba(0, 0, 0, 0.52);
 position: absolute; 
 z-index: 10000;
 height: 100vh; 
 width: 100vw;
 align-items: center;
 justify-content: center;
 align-content: center;
 transition: 1s;
 display: flex;
}
 
.filterUL{
  list-style-type: none;
  display: flex;
  flex-direction: row;
 
}

.filterUL li{
  padding-inline: 1rem;
  border: solid rgb(122, 122, 122) .1rem;
  cursor: pointer
}

.filterUL li:hover{
  background-color: rgba(0,0,0,.1);
}

.filterCont h1{
  font-size: 1em;
  text-align: left;
  align-self: flex-start;
  margin-left: 2rem;
}

.filterCont{
row-gap: 1rem;
align-content: flex-start;
 
}

.applyFilters{
  outline: none;
  border: solid rgb(4, 88, 172) .1rem;
  padding-block: .25rem;
  padding-inline: 2rem;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  transition-duration: .5s;
  background-color:rgba(11, 75, 149, 0);
  color:rgb(1, 75, 149);
  bottom: -2em;
  position:relative;
}

.applyFilters:active{
    background-color:rgba(11, 75, 149, 1);
  color:white;
}


.filterSideBar div{
   display: flex;
   flex-direction: column;
  row-gap: .5rem;
  text-align: left;
}

.filterSideBar option{
  text-align:center;
  padding-block: 2rem;

}

.brotherRow:hover{
 
}

.brotherRow{
  cursor: pointer;
}